.navbar-shopping-cart {
    position: relative;
  }
  /* .navbar-shopping-cart div {
    width: 16px;
    height: 16px;
    background-color: rgb(79, 70, 229); 
    border-radius: 8px;
    color: white;
    font-size: 12px;
    border-radius: 100%;
    
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
  }
 
  
  .navbar-shopping-cart-count {
    position: absolute;
    top: -6px;
    right: -6px;
    min-width: 20px;
    padding: 2px 6px;
    border-radius: 999px;
    background-color: var(rgb(7, 7, 17));
    color: black;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }

  
 